.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 6rem;
  min-height: 100vh;
  background: rgb(200, 234, 255);
  background: linear-gradient(
    0deg,
    rgba(200, 234, 255, 0.65) 0%,
    rgba(255, 255, 248, 1) 80%
  );
}

.link {
  color: #3a86ff;
}

.link:hover {
  text-decoration: underline;
}
